$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-map:rgb(199, 196, 196, 0.18);
$color-block:rgb(199, 196, 196, 0.15);
$color-block-secondary: white;
$color-block-restaurant: rgb(243, 243, 243);
$color-block-restaurant-desktop:white;
$color-container-restaurant-desktop:rgb(243, 243, 243);
$color-text-primary:black;
$color-text-secondary:rgb(103, 102, 102);
$color-text-tertiary:white;
$size-text-title:26px;
$size-text-title-desktop:30px;
$color-price: rgb(42, 41, 41);
$color-arrow: rgb(42, 41, 41);
$color-footer:rgb(43, 42, 42);
$color-footer-text:white;
$color-button:#9356DC;
$color-button-gradient:#dd6bc1;
$color-box:rgb(199, 196, 196, 0.15);
$color-box-secondary:white;
$font-title:"Shrikhand";
$font-text:"Roboto";
$number-container: 10;
$anim-dur: 1.4s;
$anim-delay: calc($anim-dur / $number-container);
$number-block-menu: 3;
$anim-dur-block-menu: 1200ms;
$anim-delay-block-menu: calc($anim-dur-block-menu / $number-block-menu);
$number-spin: 16;
$anim-dur-spin: 1s;
$anim-delay-spin: calc($anim-dur-spin / $number-spin);
$number-spin-mini:16;
$anim-dur-spin-mini: 1s;
$anim-delay-spin-mini: calc($anim-dur-spin-mini / $number-spin-mini);