.header__title{
    font-family: $font-title;
    text-align: center;
    margin-top: 0px;
    padding-top: 16px;
}

.header{
    &__title-restaurant-page{
        font-family: $font-title;
        text-align: center;
        margin-top: -8px;
    }
    &__title-icon-arrow{
        width: 40px;
        position: relative;
        top: 28px;
        margin-left: 14px;
        font-size: 26px;
        color: $color-arrow;
        background-clip: text;
        background-color: transparent;
        cursor: auto;
        @include small-desktop{
            margin-left: 28px;
        }
    }
    &__title-icon-arrow:hover{
        opacity: 0.7;
    }
    &__title-arrow-return{
        width: 100px;
    }
}